@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-neutral-100 bg-black
  }
  h1 {
    @apply text-3xl font-bold
  }
}

@layer components {
  .primary-button {
    @apply border border-neutral-100 py-1 px-6 shadow bg-white bg-opacity-10 hover:bg-opacity-20 hover:scale-110 active:bg-opacity-5 active:scale-95 duration-200
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
