@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    @apply text-fuchsia-300 bg-black
  }
  h1 {
    @apply text-3xl font-bold
  }
  h2 {
    @apply text-2xl font-bold
  }
  a {
    @apply p-4 inline-block hover:scale-105 hover:brightness-110 active:scale-100 active:brightness-100 duration-100
  }
}

@layer components {
  .primary-button {
    @apply border border-fuchsia-300 py-1 px-6 shadow bg-black bg-opacity-10 hover:bg-opacity-20 hover:scale-110 hover:bg-fuchsia-500 active:bg-opacity-5 active:scale-95 duration-100
  }
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
